<div class="bg-white py-8 antialiased md:py-16">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <h2 class="text-4xl font-extrabold tracking-tight text-gray-900">
      Корзина
    </h2>
    @if(cartItems.length !== 0 && cartItems !== null && cartItems !== undefined)
    {
    <div class="mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-8">
      <div class="mx-auto w-full flex-none lg:max-w-2xl xl:max-w-4xl">
        <div class="space-y-6">
          @for (cartItem of cartItems; track cartItem) {
          <app-cart-product
            [cartItem]="cartItem"
            (updateQuantityEvent)="
              updateQuantity($event.cartItemId, $event.quantity)
            "
            (deleteItemEvent)="deleteItem($event)"
          ></app-cart-product>
          }
        </div>
      </div>

      <div class="mx-auto mt-6 max-w-4xl flex-1 space-y-6 lg:mt-0 lg:w-full">
        <div
          class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6"
        >
          <p class="text-xl font-semibold text-gray-900">Общая стоимость</p>

          <div class="space-y-4">
            <div class="space-y-2">
              <dl class="flex items-center justify-between gap-4">
                <dt
                  class="text-base font-normal text-gray-500 dark:text-gray-400"
                >
                  Стоимость товаров
                </dt>
                <dd class="text-base font-medium text-gray-900 dark:text-white">
                  {{ totalAmount | currency : "RUB" : "symbol-narrow" }}
                </dd>
              </dl>
            </div>

            <dl
              class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 dark:border-gray-700"
            >
              <dt class="text-base font-bold text-gray-900 dark:text-white">
                Всего
              </dt>
              <dd class="text-base font-bold text-gray-900 dark:text-white">
                {{ totalAmount | currency : "RUB" : "symbol-narrow" }}
              </dd>
            </dl>
          </div>

          <button
            (click)="checkout()"
            class="flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800"
          >
            Оформить заказ
          </button>

          <div class="flex items-center justify-center gap-2">
            <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
              или
            </span>
            <a
              [routerLink]="'/catalog'"
              title=""
              class="inline-flex items-center gap-2 text-sm font-medium text-primary-700 underline hover:no-underline"
            >
              продолжить покупки
              <svg
                class="h-5 w-5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 12H5m14 0-4 4m4-4-4-4"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    } @else {
    <div class="flex flex-col items-center justify-center mt-8">
      <div class="bg-gray-50 rounded-lg p-8 shadow-md text-center">
        <svg
          class="h-20 w-20 text-gray-600 mx-auto"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 6v6m0 0v6m0-6h6m-6 0H6"
          />
        </svg>
        <p class="mt-4 text-xl font-semibold text-gray-900">
          Ваша корзина пуста
        </p>
        <p class="mt-2 text-sm text-gray-600">
          Добавьте товары в корзину, чтобы продолжить покупки.
        </p>
        <a
          href="/catalog"
          class="mt-4 inline-block bg-primary-700 px-5 py-3 rounded-lg text-sm font-medium text-white hover:bg-primary-800"
        >
          Перейти в каталог
        </a>
      </div>
    </div>
    } @if (isShowNotification) {
    <app-payment (click)="showNotification()"></app-payment>
    }
  </div>
</div>
